*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(#ffe9f4,#ffd7ec);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{

    width:700px;

    background:white;

    border-radius:35px;

    padding:40px;

    text-align:center;

    box-shadow:0 15px 40px rgba(255,130,190,.3);

    position:relative;

    z-index:10;

}

.profile{

    width:180px;

    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid pink;

    margin-bottom:20px;

}

h1{

    color:#ff4d94;

    margin-bottom:10px;

}

h2{

    color:#ff7ab8;

    margin-bottom:20px;

}

p{

    line-height:1.8;

    color:#555;

}

button{

    margin-top:25px;

    padding:12px 30px;

    border:none;

    border-radius:30px;

    background:#ff6fb3;

    color:white;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#ff4d94;

}

/* ดาว */

#stars{

    position:fixed;

    width:100%;

    height:100%;

    left:0;

    top:0;

    pointer-events:none;

}

.star{

    position:absolute;

    color:#ff84c1;

    animation:fall linear infinite;

}

@keyframes fall{

    from{

        transform:translateY(-50px);

    }

    to{

        transform:translateY(110vh);

    }

}
